{
  "$schema": "../datasource.jschema",
  "ch-server": {
    "aliases": [
      "self"
    ],
    "driverUrls": [
      "https://repo1.maven.org/maven2/com/clickhouse/clickhouse-jdbc/0.3.2-patch8/clickhouse-jdbc-0.3.2-patch8-http.jar"
    ],
    "driverClassName": "com.clickhouse.jdbc.ClickHouseDriver",
    "jdbcUrl": "jdbc:clickhouse://ch-server:8123/system?compress=false",
    "username": "default",
    "password": "",
    "maximumPoolSize": 5
  }
}
